@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#background {
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    margin: 0;
}

header,
main {
    margin-left: 9%;
    margin-right: 9%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 1.62rem 0 1.62rem 0;
}

.school {
    display: flex;
}

.school-name {
    font-size: 2.6rem;
    font-weight: 900;
}

.school-logo {
    width: 5rem;
    height: 5rem;
    margin: auto auto auto 0;
}

.nav-links {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 2.475rem;
    font-size: 1.65rem;
    font-weight: 700;
}

#nav-home {
    color: rgb(254, 163, 1);
}

#nav-about {
    color: rgb(1, 172, 253);
}

#nav-facilities {
    color: rgb(5, 212, 223);
}

#nav-admission {
    color: rgb(93, 88, 239);
}

.contact {
    padding: 13.2px;
    width: 260px;
    height: 66px;
    border-radius: 15.84px;
    background: rgb(254, 163, 1);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.65rem;
    font-weight: 600;
}

.hamburger {
    display: none;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    margin: auto auto auto 0;
}

.banner-content h2 {
    margin: 0;
    font-size: 4.62rem;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 1.98rem;
}

.emp {
    color: rgb(254, 163, 1);
}

.vision {
    color: rgb(1, 172, 253);
}

.banner-content p {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
    margin-bottom: 45px;
}

.enroll {
    width: 16.2rem;
    height: 4.11rem;
    border-radius: 1rem;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 550;
    border: none;
}

.banner img {
    width: 610px;
    height: 760px;
}



@media screen and (max-width: 36rem) {
    header {
        margin: 0;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .school h3 {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .contact {
        display: none;
    }

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
    }

    .ham {
        width: 32px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        border-radius: 15px;
    }

    .navbar {
        padding: 1rem;
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .school img {
        width: 46px;
        height: 46px;
    }
}